*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 75%;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border: 2px solid black;
    box-shadow: 40px 20px 10px  grey;
}
input[type=password],[type=text]{
    width: 80%;
    height: 50px;
    padding-left: 20px;
}
.box2{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 80%;
}
button{
    width: 60px;
    height: 30px;
}