*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1703618883312-da2fa7c3c28b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:100% 100%;
}
.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 2px solid red; */
    width: 300px;
    height:300px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
}